; 请妥善保管您的配置
registry=https://comingzones-npm.pkg.coding.net/images/npm/
always-auth=true
//comingzones-npm.pkg.coding.net/images/npm/:username=npm-1594112588848
//comingzones-npm.pkg.coding.net/images/npm/:_password=MmRhYzdhNmU3MzlmZjA4YzE5N2E0YzQ1NzJmZjMwM2ZiZjM3MWE4Mw==
//comingzones-npm.pkg.coding.net/images/npm/:email=pillarhou@foxmail.com
